
body {
  margin:0;
  font-family: Arial;
  background:#f2f2f2;
  text-align:center;
}
header {
  background:#111;
  color:white;
  padding:15px;
}
header img {
  width:70px;
}
.controls, .templates {
  margin:10px;
}
button {
  padding:10px 15px;
  margin:5px;
  border:none;
  background:#ff4081;
  color:white;
  border-radius:5px;
}
input {
  padding:8px;
  margin:5px;
}
canvas {
  border:2px solid #ccc;
  margin:10px auto;
}
footer {
  background:#111;
  color:white;
  padding:10px;
}
